body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rowContainer {
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: center;

}

.calculator {
    min-width: 270px;
    max-width: 270px;
    min-height: 400px;
    max-height: 400px;
    padding: 20px;
    background-color: #202123;
    box-shadow: 4px 4px 5px #272727;
    border-radius: 20px;

}

.displayContainer {
    display: flex;
    margin-top: 20px;
}

.display {
    display: flex;
    font-family: "Digital-7 Mono", monospace;
    font-size: 25px;
    /*background-color: #6C785A;*/
    background-color: #000000;
    color: #ffffff;
    border-radius: 10px;
    justify-content: end;
    width: 100%;
    padding: 40px;
    box-shadow: inset 1px 1px 3px black;
}

.row{
    display: grid;
    grid-template-rows: repeat(4, 12px);
    grid-template-columns: repeat(5, 50px);
    grid-gap: 5px;
}

.addButton > .add {
    height: 115px;
}

.number, .dot{
    color: #fafafa;
    width: 50px;
    height: 50px;
    background-color: #24272C;
    border-radius: 50px;
    font-size: 20px;
    border-style: none;
}

.negative, .delete, .multiply, .divide,
.add, .subtract, .clear, .equals{
    color: #2B6FE0;
    background-color: #24272C;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    font-size: 20px;
    border-style: none;
}

button:hover{
    background-color: #2c3037;
    cursor: pointer;
}

button:active {
    background-color: #24272c;
    box-shadow: 0 2px #303030;
    transform: translateY(3px);
}